.glyphicon[b-83x4fbzd5v] {
    margin-right: 5px;
}

.thumbnail[b-83x4fbzd5v] {
    margin-bottom: 20px;
    padding: 0;
    border-radius: 0;
}

.item.list-group-item[b-83x4fbzd5v] {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover[b-83x4fbzd5v],
.item.list-group-item:hover[b-83x4fbzd5v] {
    background: #428bca;
}

.item.list-group-item .list-group-image[b-83x4fbzd5v] {
    margin-right: 10px;
}

.item.list-group-item .thumbnail[b-83x4fbzd5v] {
    margin-bottom: 0;
}

.item.list-group-item .caption[b-83x4fbzd5v] {
    padding: 9px 9px 0 9px;
}

.item.list-group-item:nth-of-type(odd)[b-83x4fbzd5v] {
    background: #eeeeee;
}

.item.list-group-item img[b-83x4fbzd5v] {
    float: left;
    max-width: 100%;   /* Ensures the image scales down */
    height: auto;      /* Ensures the image scales proportionally */
}

.product-list .thumbnail img[b-83x4fbzd5v] {
    width: 100%;        /* Ensures the image takes full width of the container */
    max-width: 400px;    /* Sets a maximum width of 400px */
    max-height: 250px;   /* Sets a maximum height of 250px */
    object-fit: cover;   /* Ensures the image fits within the specified dimensions */
    display: block;      /* Ensures the image behaves as a block element */
    margin: 0 auto;      /* Centers the image horizontally */
}
