.glyphicon[b-hf3fq2er7a] { margin-right:5px; }
.thumbnail[b-hf3fq2er7a]
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item[b-hf3fq2er7a]
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover[b-hf3fq2er7a],.item.list-group-item:hover[b-hf3fq2er7a]
{
    background: #428bca;
}

.item.list-group-item .list-group-image[b-hf3fq2er7a]
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail[b-hf3fq2er7a]
{
    margin-bottom: 0px;
}
.item.list-group-item .caption[b-hf3fq2er7a]
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)[b-hf3fq2er7a]
{
    background: #eeeeee;
}

.item.list-group-item[b-hf3fq2er7a]:before, .item.list-group-item[b-hf3fq2er7a]:after
{
    display: table;
    content: " ";
}

.item.list-group-item img[b-hf3fq2er7a]
{
    float: left;
}
.item.list-group-item[b-hf3fq2er7a]:after
{
    clear: both;
}
.list-group-item-text[b-hf3fq2er7a]
{
    margin: 0 0 11px;
}
