

@{
    ViewData["Title"] = "Catergories";
    Layout = "_Layout";
}



        <h3>Catergories</h3>
        <br />
        <ul>
            <li>
                <a href="/Catergories/edit/1">Shirts</a>
            </li>
            <li>
                <a href="/Catergories/edit/2">Pants</a>
            </li>
            <li>
                <a href="/Catergories/edit/3">Hats</a>
            </li>
            <li>
                <a href="/Catergories/edit/3">Shoess</a>
            </li>

        </ul>    

