

@{
    ViewData["Title"] = "Catergories";
    Layout = "_Layout";
}



        <h3>Catergories</h3>
        <br />
        <ul>
            <li>
                <a href="/Products/Shirts">Shirts</a>
            </li>
            <li>
                <a href="/Products/Pants">Pants</a>
            </li>
            <li>
                <a href="/Products/Hats">Hats</a>
            </li>
            <li>
                <a href="/Products/Shoes">Shoes</a>
            </li>
            <li>
                <a href="/Products/Glasses">Glasses</a>
            </li>
            <li>
                <a href="/Products/Belts">Belts</a>
            </li>

        </ul>    

